html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto Condensed", sans-serif}
  a {border-bottom: 1px solid #eb4034;}

.lnk {
    target: "_blank";
    border-bottom: 0px;
    color: #ff5722;
}

body {
  background-color: #2A3A4B;
}

.back-to-top {
    position: fixed;
    bottom: 10px;
    left: 12px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(125, 60, 70, 0);
    font-size: 22px;
    //font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 1em;
    display: none;
}

.master {
    //object-fit: contain;
    width:50%;
    height:auto;
}

.caner-card {
  background-color: #181a1b; /* dark background */
  color: #E8E6E3;           /* light text */
}

.left-card {
  background-color: #181a1b; /* dark background */
  color: #E8E6E3;           /* light text */
}
