<div class="w3-container w3-card w3-white w3-margin-bottom w3-animate-opacity">
  <div class="w3-right-align w3-text-grey">[click on a title to see details]</div>
  <h2 class="w3-text-grey w3-padding-16">
    <i class="fa fa-briefcase fa-fw w3-margin-right w3-xxlarge w3-text-deep-orange"></i>
    Experience
  </h2>

  <!-- Software Engineer II -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Software Engineer II, Canonical Ltd.</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2021 – 2024</span>
    </summary>
    <div class="w3-container">
      <p>
        I work in the <a href="https://github.com/juju" class="lnk">Juju</a> core team of about 15 people globally distributed. I help develop and maintain Juju’s client packages and libraries, including the CLI and <a href="https://github.com/juju/python-libjuju" class="lnk">python‑libjuju</a>, and the <a href="https://github.com/juju/terraform-provider-juju" class="lnk">Terraform Juju Provider</a>. I’m involved in hiring, code reviews and documentation work.
      </p>
    </div>
  </details>

  <!-- Course Instructor -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Course Instructor, Indiana University, IN, USA</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Spring 2021</span>
    </summary>
    <div class="w3-container">
      <p>Taught Introduction to Computer Science (HtDP‑style functional programming) using Racket.</p>
    </div>
  </details>

  <!-- TA & RA IU -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Teaching &amp; Research Assistant, Indiana University, IN, USA</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 – 2020</span>
    </summary>
    <div class="w3-container">
      <p>
        I taught Advanced Compilers, Introduction to Programming (in Racket), and domain‑specific language design and implementation with <a href="http://homes.sice.indiana.edu/samth/" class="lnk">Sam Tobin‑Hochstadt</a> for one semester. I was his research assistant for five semesters and four summers.
      </p>
    </div>
  </details>

  <!-- Asseco -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Product Development Specialist, Asseco South‑Eastern Europe, Istanbul, TR</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2012 – 2013</span>
    </summary>
    <div class="w3-container">
      <p>
        Worked on developing the back end of virtual point‑of‑sale applications between merchants and banks. Technologies: Java, Spring, Tomcat, Mercurial, Jira.
      </p>
    </div>
  </details>

  <!-- Hackathonist'14 -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Hackathonist’14, Istanbul, TR</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013</span>
    </summary>
    <div class="w3-container">
      <p>
        Developed a Google Glass application (on a mock API) that uses CitySDK data to provide smart‑city tasks such as finding a suitable bus route.
      </p>
    </div>
  </details>

  <!-- Computer Science RPG -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Computer Science RPG, Istanbul, TR</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013</span>
    </summary>
    <div class="w3-container">
      <p>
        I created an extra‑curricular game for students to “level up” their computer science skills. Each level required learning concepts and solving problems under constraints. I led a team of undergraduates as they leveled up.
      </p>
    </div>
  </details>

  <!-- TA Bilgi -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Teaching Assistant, Istanbul Bilgi University, TR</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 – 2013</span>
    </summary>
    <div class="w3-container">
      <p>
        Taught six semesters: Data Structures &amp; Algorithms (Java), Principles of Programming Languages (Racket) and Database Systems with Data Mining.
      </p>
    </div>
  </details>

  <!-- Instructor, Nesin Math Village -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Instructor, <a href="http://www.matematikkoyu.org/" class="lnk">Nesin Math Village</a>, Şirince/Selçuk, TR</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2011</span>
    </summary>
    <div class="w3-container">
      <p>
        Taught Lambda Calculus to math graduate students and “Programming = Algebra” to high‑school students with <a href="https://chrisstephenson.org/moodle/?lang=en" target="_blank" class="lnk">Chris Stephenson</a>.
      </p>
    </div>
  </details>

  <!-- Conference Reviewer -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Conference Reviewer, TR</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014</span>
    </summary>
    <div class="w3-container">
      <p>
        Reviewed two papers on statistical information retrieval for SIU 2014 and a paper on question‑answering systems for COLING 2014.
      </p>
    </div>
  </details>

  <!-- VII International Conf. on Webometrics... -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>VII International Conf. on Webometrics, Infometrics &amp; Scientometrics (WIS), Istanbul, TR</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2011</span>
    </summary>
    <div class="w3-container">
      <p>
        Led the preparation and compilation of the book of abstracts and proceedings for the conference.
      </p>
    </div>
  </details>
  <hr>
</div>

