<div class="w3-container w3-card w3-white w3-margin-bottom w3-animate-opacity w3-round-large">
  <div class="w3-container">
    <br><br>
    <p>
      Welcome to the extended version of my resume! Here you’ll find detailed explanations of the information presented in the PDF version, along with a few additional projects and experiences that didn’t make it into the PDF. Click on the titles to explore further. Feel free to <a href="mailto:caner@dericilab.live" class="lnk">send me an email</a> if you’d like to know more.
    </p>

    <!-- View Resume PDF -->
    <details>
      <summary class="w3-padding-16 w3-round-large w3-left-align w3-btn"><h6 class="w3-opacity"><strong>View Resume PDF</strong></h6></summary>
      <div class="w3-container">
        <iframe src="assets/docs/CanerDerici_Resume.pdf" width="100%" height="1200px"></iframe>
        <div class="w3-right-align">
          [ <a target="_blank" href="https://www.overleaf.com/read/jbsbnxbnjfdd">TEX SOURCE</a> ]
        </div>
      </div>
    </details>
  </div>
</div>

