<div class="w3-container w3-card w3-white w3-margin-bottom w3-animate-opacity w3-round-large">
  <div class="w3-right-align w3-text-grey">[click on a title to see details]</div>
  <h2 class="w3-text-grey w3-padding-16">
    <i class="fa fa-wrench fa-fw w3-margin-right w3-xxlarge w3-text-deep-orange"></i>
    Projects
  </h2>

  <!-- Juju -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Juju</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2021 – 2024</span>
    </summary>
    <div class="w3-container">
      <p>
        <a href="https://github.com/juju" class="lnk">Juju</a> is an orchestration and modeling tool for deploying complex cloud workloads. It manages charmed operators for Kubernetes and traditional Linux apps with declarative relations for automated microservice integration. It also facilitates day‑2 operations such as scaling, upgrading and monitoring. As part of the core team, I help maintain the clients (CLI and <a href="https://github.com/juju/python-libjuju" class="lnk">python‑libjuju</a>) and the facade API, integrate charmhub, design data schemas for migrating from MongoDB to dqlite, and handle general bug fixes and maintenance. I mostly use Go and Python.
      </p>
    </div>
  </details>

  <!-- Terraform Juju Provider -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Terraform Juju Provider</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2022 – 2024</span>
    </summary>
    <div class="w3-container">
      <p>
        The <a href="https://github.com/juju/terraform-provider-juju" class="lnk">Terraform Juju Provider</a> enables integration with Juju while managing Terraform environments. I started developing it as part of my work on the Juju API. I implemented new features, migrated from SDK 2 to the new Terraform provider framework, and maintained the release cadence for new versions. All in Go.
      </p>
    </div>
  </details>

  <!-- Pycket -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Pycket</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016 – 2021</span>
    </summary>
    <div class="w3-container">
      <p>
        A meta‑tracing JIT originally designed to reduce the overhead of sound gradual typing, now a run‑time for self‑hosting full Racket. I am the main developer and maintainer. I re‑implemented the front end to make Racket bootstrap itself on Pycket, achieving a full Racket implementation on the RPython framework. I developed performance‑debugging tools, implemented various optimizations and many run‑time primitives, and maintained data‑structure implementations (hash tables, vectors, structs, etc.). For details, see the <a href="#" onclick="myFunction('edu-panel-1')" class="lnk">PhD description</a>.
      </p>
      <p><a href="https://github.com/pycket/pycket" class="lnk">[Pycket repo]</a></p>
    </div>
  </details>

  <!-- Rax -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Rax</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016</span>
    </summary>
    <div class="w3-container">
      <p>
        A full‑stack nanopass compiler from a small subset of Racket down to x86‑64 assembly. It started for fun, then became a school project and later an open‑source project. I built and tested all the passes (closure conversion, register allocation, code generation, etc.).
      </p>
      <p><a href="https://github.com/cderici/rax" class="lnk">[Rax repo]</a></p>
    </div>
  </details>

  <!-- Denotational Semantics Proof -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Correctness Proof of a Closure Conversion Pass</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018</span>
    </summary>
    <div class="w3-container">
      <p>
        I collaborated with <a href="https://wphomes.soic.indiana.edu/jsiek/" class="lnk">Jeremy Siek</a> and <a href="https://github.com/madheime" class="lnk">Matthew Heimerdinger</a> on proving the correctness of a closure‑conversion pass of a compiler for a functional language represented via denotational semantics in Isabelle.
      </p>
      <p><a href="https://github.com/madheime/denotsem-compiler" class="lnk">[denotsem-compiler repo]</a> (may be private)</p>
    </div>
  </details>

  <!-- HazırCevap -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>HazırCevap</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 – 2015</span>
    </summary>
    <div class="w3-container">
      <p>
        A closed‑domain question‑answering system for high‑school students funded by <a href="https://www.tubitak.gov.tr/en" class="lnk">TÜBİTAK</a>. I led research and development with three faculty members (CS and School of Education) and four graduate students. It was my MSc thesis work, so I handled nearly every aspect (see Publications). I developed a hybrid model combining Hidden Markov Models and rule‑based methods for question analysis, a reliability score for web documents, and an IR module using the Indri search engine for answer generation. I implemented both the front and back ends in Python.
      </p>
    </div>
  </details>

  <!-- Sessizliğe Oku -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Sessizliğe Oku (Read to Silence)</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014</span>
    </summary>
    <div class="w3-container">
      <p>
        Reading is a kind of foreign language for Deaf people. I collaborated with the Department of Western Languages &amp; Literature to build a web‑based application to teach people with hearing disabilities how to read. Two linguists, one CS faculty and two research assistants were involved. I helped implement the application (for PC and mobile) designed specifically for Deaf users, using JavaScript, HTML and PhoneGap.
      </p>
    </div>
  </details>

  <!-- Direnaj -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Direnaj: Social Network Data Processing Framework</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 – 2014</span>
    </summary>
    <div class="w3-container">
      <p>
        A data‑collection, processing and visualization framework for real‑time social‑network data led by <a href="https://www.cmpe.boun.edu.tr/~uskudarli/" class="lnk">Suzan Üsküdarlı</a>. With four faculty members and seven grad students, I developed parts of the processing library in JavaEE, implementing tools for analyses such as centrality and stop‑word collection.
      </p>
      <p><a href="http://direnaj-staging.cmpe.boun.edu.tr/" class="lnk">[Direnaj staging site]</a> (may be private due to Twitter privacy policies)</p>
    </div>
  </details>

  <!-- FARS -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>FARS: Functional Automated Reasoning System</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2012</span>
    </summary>
    <div class="w3-container">
      <p>
        A resolution‑refutation automated theorem prover I wrote for fun and later turned into a project. Written entirely in Racket.
      </p>
      <p><a href="https://github.com/cderici/FARS" class="lnk">[FARS repo]</a></p>
    </div>
  </details>

  <!-- Moby (Tail call elimination) -->
  <details class="w3-container w3-margin-bottom">
    <summary class="w3-padding-16 w3-left-align">
      <strong>Tail‑Call Elimination on Racket‑to‑JS Compiler</strong>
      <span class="w3-small w3-right"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2009 – 2010</span>
    </summary>
    <div class="w3-container">
      <p>
        My undergraduate thesis (see BSc description) was part of a project at Brown University supervised by <a href="https://cs.brown.edu/~sk/" class="lnk">Shriram Krishnamurthi</a>, implementing a compiler from Racket’s Advanced Student Language to JavaScript and HTML. I worked on the compiler and run‑time libraries; my major contribution was adding tail calls. The work is now used in <a href="https://www.wescheme.org/" class="lnk">WeScheme</a> for the <a href="https://www.bootstrapworld.org/" class="lnk">Bootstrap curriculum</a>.
      </p>
      <p><a href="https://github.com/cderici/moby-scheme" class="lnk">[moby-scheme repo]</a></p>
    </div>
  </details>
  <hr>
</div>

