<div class="w3-container w3-card w3-white w3-margin-bottom">
  <h2 class="w3-text-grey w3-padding-16">
    <i class="fa fa-solid fa-award fa-fw w3-margin-right w3-xxlarge w3-text-deep-orange"></i>
    Scholarships
  </h2>

  <ul class="w3-ul">
    <li>
      Research scholarship for M.Sc. (3 years), fully funded by
      <a class="lnk" href="https://www.tubitak.gov.tr/en">TÜBİTAK</a>.
    </li>

    <li>
      Project scholarship for research on teaching Turkish to the hearing-impaired (2014),
      funded by the <a class="lnk" href="https://en.wikipedia.org/wiki/Ko%C3%A7_Holding">Koç Foundation</a>.
    </li>

    <li>
      Full undergraduate scholarship (2005 – 2010) from Turkey’s Student Selection and Placement Center
      (<a class="lnk" href="https://www.osym.gov.tr/">ÖSYM</a>).
    </li>
  </ul>
  <hr>
</div>

