<div class="w3-container w3-card w3-white w3-margin-bottom">
  <h2 class="w3-text-grey w3-padding-16">
    <i class="fa fa-street-view fa-fw w3-margin-right w3-xxlarge w3-text-deep-orange"></i>
    Skills
  </h2>

  <div class="w3-container">
    <!-- Professional (general) -->
    <div class="w3-row">
      <div class="w3-col m4">Clear code &amp; testing</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i>
      </div>

      <div class="w3-col m4">Keeping up with new tech</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star-o w3-text-deep-orange"></i>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-col m4">Time &amp; resource management</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i>
      </div>

      <div class="w3-col m4">Team-work &amp; communication</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-col m4">Attention span &amp; focus</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star-o w3-text-deep-orange"></i>
      </div>

      <div class="w3-col m4">Self-motivation</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-col m4">Coding speed</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star-o w3-text-deep-orange"></i>
        <i class="fa fa-star-o w3-text-deep-orange"></i>
      </div>

      <div class="w3-col m4">Testing against careless mistakes</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star-o w3-text-deep-orange"></i>
      </div>
    </div>

    <!-- Technical -->
    <p><strong>Technical</strong></p>

    <div class="w3-row">
      <div class="w3-col m2">Linux</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i>
      </div>
      <div class="w3-col m8 w3-right-align"><em>Using Linux daily since 2005; entire workflow is on Linux.</em></div>
    </div>

    <div class="w3-row">
      <div class="w3-col m2">Git</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i>
      </div>
      <div class="w3-col m8 w3-right-align">
        <em><a class="lnk" href="https://github.com/cderici">github.com/cderici</a></em>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-col m2">LaTeX</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star-o w3-text-deep-orange"></i>
      </div>
      <div class="w3-col m8 w3-right-align"><em>Authoring papers and dissertations with LaTeX since 2005.</em></div>
    </div>

    <div class="w3-row">
      <div class="w3-col m2">Emacs</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star-o w3-text-deep-orange"></i>
        <i class="fa fa-star-o w3-text-deep-orange"></i>
      </div>
      <div class="w3-col m8 w3-right-align"><em>Daily driver for ~6 years; not yet a power user.</em></div>
    </div>

    <div class="w3-row">
      <div class="w3-col m2">GoLand / VS Code</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star-o w3-text-deep-orange"></i>
      </div>
      <div class="w3-col m8 w3-right-align"><em>Main IDEs for Go and general editing.</em></div>
    </div>

    <!-- Personal -->
    <p><strong>Personal</strong></p>

    <div class="w3-row">
      <div class="w3-col m2">Electric guitar &amp; music</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star-o w3-text-deep-orange"></i>
      </div>
      <div class="w3-col m8 w3-right-align">
        <em>Former semi-pro musician; now record guitar covers for fun.</em>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-col m2">Fantasy role-playing</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star-o w3-text-deep-orange"></i>
      </div>
      <div class="w3-col m8 w3-right-align">
        <em>~10 years as player and DM (mostly D&D 3.5e / AD&D).</em>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-col m2">Tango</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star-o w3-text-deep-orange"></i>
        <i class="fa fa-star-o w3-text-deep-orange"></i><i class="fa fa-star-o w3-text-deep-orange"></i>
        <i class="fa fa-star-o w3-text-deep-orange"></i>
      </div>
      <div class="w3-col m8 w3-right-align"><em>Took six months of lessons; still a beginner.</em></div>
    </div>

    <div class="w3-row">
      <div class="w3-col m2">StarCraft II (Zerg)</div>
      <div class="w3-col m2">
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star w3-text-deep-orange"></i>
        <i class="fa fa-star w3-text-deep-orange"></i><i class="fa fa-star-o w3-text-deep-orange"></i>
        <i class="fa fa-star-o w3-text-deep-orange"></i>
      </div>
      <div class="w3-col m8 w3-right-align">
        <em>Masters 3 on NA. See <a class="lnk" href="https://starcraft2.com/en-us/profile/1/1/7890604/ladders?ladderId=summary">battle-net profile</a>.</em>
      </div>
    </div>

  </div>
  <hr>
</div>

