<div class="w3-container w3-card caner-card w3-margin-bottom w3-animate-opacity w3-round-large">
  <h2 class="w3-text-grey w3-padding-16">
    <i class="fa fa-check fa-fw w3-margin-right w3-xxlarge w3-text-deep-orange"></i>
    TL;DR
  </h2>
  <div class="w3-container w3-margin-left w3-margin-right">

	<h4>Career Timeline:</h4>

<div class="timeline-wrap">
  <dl class="timeline timeline-4">
    <dt>2024–2025</dt><dd class="kind">School</dd><dd class="main">PhD finish</dd><dd class="sub">compilers & programming languages (<a href="https://github.com/cderici/dissertation/releases/download/latest-pdf/thesis.pdf" class="lnk">thesis pdf</a>)</dd>
    <dt>2021–2024</dt><dd class="kind">Work</dd><dd class="main">Canonical</dd><dd class="sub">Software Engineer II</dd>
    <dt>2015–2021</dt><dd class="kind">School</dd><dd class="main">PhD</dd><dd class="sub">compilers & programming languages</dd>
    <dt>2012–2015</dt><dd class="kind">School</dd><dd class="main">MSc</dd><dd class="sub">NLP & ML - question answering system (<a href="/docs/msc-thesis.pdf" class="lnk">thesis pdf</a>)</dd>
    <dt>2010–2012</dt><dd class="kind">Work</dd><dd class="main">Asseco SE Group</dd><dd class="sub">Software Engineer</dd>
    <dt>2005–2010</dt><dd class="kind">School</dd><dd class="main">BSc</dd><dd class="sub">proper tail calls in JavaScript (<a href="/assets/docs/caner_bsc_thesis.pdf" class="lnk">thesis pdf</a>)</dd>
  </dl>
</div>


<!-- View Resume PDF -->
    <details>
      <summary class="w3-padding-16 w3-round-large w3-left-align w3-btn"><h6 class="w3-opacity"><strong>View Resume PDF</strong></h6></summary>
      <div class="w3-container">
        <iframe src="/assets/docs/CanerDerici_Resume.pdf" width="100%" height="1200px"></iframe>
      </div>
    </details>


  </div>
  <br>
</div>

