---
layout: base.njk
title: Arch
permalink: "arch.html"
---

<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-quarter">
      {% set profileImage = "/assets/img/arch/archSmall.jpg" %}
      {% set profileImageMin = "/assets/img/arch/archSmall.jpg" %}
      {% include "left-card.njk" %}
    </div>

    <!-- Right Column -->
    <div class="w3-threequarter">
      {% include "header.njk" %}

      <div class="w3-container w3-card w3-white  w3-margin-bottom w3-animate-opacity">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-heart fa-fw w3-margin-right w3-xxlarge w3-text-deep-orange"></i>
          Arch
        </h2>

        <p>
          This is a page I keep for our incredible friend, Arch. He passed away in 2018 summer.
          I had the pleasure of living with him for 10 years before I moved to US in 2015.
          He has and always will have such a special place in our hearts.
        </p>

        <center>
          <a href="/assets/img/arch/pelus.jpg" data-lightbox="arch" data-title="Young Arch">
            <img src="/assets/img/arch/pelus.jpg" width="225" height="300" />
          </a>
        </center>

        <p>
          A very silent, calm, quite and humane dog. That's why I used to love to annoy him :)
          Here's a couple photos where I'm messing with him. If you want to see photos in which
          I really make him annoyed, I can send them to you. It takes a real effort to get him angry :)
        </p>

        <p>Here's "Afghan Arch":</p>
        <center>
          <a href="/assets/img/arch/archSmall.jpg" data-lightbox="arch" data-title="Afghan Arch">
            <img src="/assets/img/arch/archSmall.jpg" width="180" height="180" />
          </a>
        </center>

        <p>and here's "Arch Kenobi":</p>
        <center>
          <a href="/assets/img/arch/archKenobi.jpg" data-lightbox="arch" data-title="Arch Kenobi">
            <img src="/assets/img/arch/archKenobi.jpg" width="240" height="180" />
          </a>
        </center>

        <p>Here's Arch having a relaxing bath:</p>
        <center>
          <a href="/assets/img/arch/archBath.jpg" data-lightbox="arch" data-title="ArchBath">
            <img src="/assets/img/arch/archBath.jpg" width="400" height="240" />
          </a>
        </center>

        <p>Arch on the treadmill, working out:</p>
        <center>
          <a href="/assets/img/arch/archWorkout.jpg" data-lightbox="arch" data-title="Working out hard!">
            <img src="/assets/img/arch/archWorkout.jpg" width="400" height="240" />
          </a>
        </center>

        <p>
          There are (literally) hundreds of photos of Arch, I'll post them here occasionally.
        </p>
      </div>

      <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    </div><!-- /w3-threequarter -->

  </div><!-- /w3-row-padding -->
</div><!-- /w3-content -->

