---
layout: base.njk
title: Artsy
permalink: "artsy.html"
---

<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-quarter">
      {% set profileImage = "/assets/img/artwork/artworkSmall.jpg" %}
      {% set profileImageMin = "/assets/img/artwork/artworkSmall.jpg" %}
      {% include "left-card.njk" %}
    </div>

    <!-- Right Column -->
    <div class="w3-threequarter">
      {% include "header.njk" %}

      <div class="w3-container w3-card w3-white w3-margin-bottom w3-animate-opacity">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-superpowers fa-fw w3-margin-right w3-xxlarge w3-text-deep-orange"></i>
          Artwork
        </h2>

        <p>
          Besides music and writing, I'm also interested in abstract charcoal drawing and
          <i>objet d'art</i>, i.e., pieces of objects, locations, even toys of artistic nature
          (objects that tell something when observed).
        </p>

        <p>Let me demonstrate here some of the items that I acquired or created.</p>

        <p>
          I've found this paper-folded tulip on my table in a coffee shop in Istanbul and loved it
          immediately. I don't know its story, but this is actually what makes the stories that this
          tulip tells practically limitless.
        </p>
        <center>
          <a href="/assets/img/artwork/art1.jpg" data-lightbox="art" data-title="Kağıt Lale - Paper Tulip">
            <img src="/assets/img/artwork/art1.jpg" width="200" height="265" />
          </a>
        </center>
        <br>

        <p>
          This drinking fisherman is from a fishing town at the Aegean side of Turkey. It was a gift
          from my good friend Kemal Akkoyun, who bought this from an artist creating such forms out of
          sticks, twigs, stones, and wires.
        </p>
        <center>
          <a href="/assets/img/artwork/art2.jpg" data-lightbox="art" data-title="Balıkçı Dayı - Fisherman's Rest">
            <img src="/assets/img/artwork/art2.jpg" width="300" height="180" />
          </a>
        </center>
        <br>

        <p>
          What was started as a reminder for me to repair the ceiling turned into a beautiful landscape
          form (out of K'Nex) reminding that there is a lot more outside these walls.
        </p>
        <center>
          <a href="/assets/img/artwork/art3.jpg" data-lightbox="art" data-title="Hatırla! - Remember!">
            <img src="/assets/img/artwork/art3.jpg" width="300" height="270" />
          </a>
        </center>
        <br>

        <p>
          This tells me that the art is to see beyond what everybody else sees. Although I occasionally
          see an object or form much more than it looks like, I often don't see beyond and look at it
          like everybody else does. Therefore, this reminds me that I'm not an artist (not yet anyway).
        </p>
        <center>
          <a href="/assets/img/artwork/art4.jpg" data-lightbox="art" data-title="Alyan Kokteyl - Allen Degenerate">
            <img src="/assets/img/artwork/art4.jpg" width="300" height="225" />
          </a>
        </center>
        <br>

        <p>
          This is a gift from my good friend Görkem Tanca. He has an industrial workshop, where he creates
          beautiful objects out of thin wood by laser cutting and laser burning. I don't know why, but I
          always loved the spade shape. On top of this, it's on wood!
        </p>
        <center>
          <a href="/assets/img/artwork/art5.jpg" data-lightbox="art" data-title="Tahta As - Wooden Ace">
            <img src="/assets/img/artwork/art5.jpg" width="250" height="250" />
          </a>
        </center>
        <br>

        <p>
          This is another gift from Görkem Tanca. Laser cut out of thin wood. Beautiful.
        </p>
        <center>
          <a href="/assets/img/artwork/art6.jpg" data-lightbox="art" data-title="Tahta Altlık - Wooden Coaster">
            <img src="/assets/img/artwork/art6.jpg" width="200" height="204" />
          </a>
        </center>
        <br>

        <p>
          I'm not particularly good on drawing landscapes or even basic shapes. What you see here is only math,
          no feeling, no story, no nothing. Hence the name, insensate.
        </p>
        <center>
          <a href="/assets/img/artwork/art7.jpg" data-lightbox="art" data-title="Duygusuz - Insensate">
            <img src="/assets/img/artwork/art7.jpg" width="200" height="303" />
          </a>
        </center>
        <br>

        <p>
          Well, this is... I don't really know what this is. I just drew some lines and went on with what I feel.
          I don't know if it's finished or not, and I certainly don't understand it. It's plain subconsciousness I
          suppose. One thing I can suggest is that you download this image and zoom in and out and rotate it. Each
          side and perspective has its own stories to tell.
        </p>
        <center>
          <a href="/assets/img/artwork/art8.jpg" data-lightbox="art" data-title="Gözler - Eyes">
            <img src="/assets/img/artwork/art8.jpg" width="600" height="863" />
          </a>
        </center>

      </div>

      <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    </div><!-- /w3-threequarter -->

  </div><!-- /w3-row-padding -->
</div><!-- /w3-content -->

