---
layout: base.njk
title: Bike
permalink: "bike.html"
---

<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <div class="w3-row-padding">

    <!-- Left column -->
    <div class="w3-quarter">
      {% set profileImage = "/assets/img/bike/harley-profile-big.jpg" %}
      {% set profileImageMin = "/assets/img/bike/harley-profile.jpg" %}
      {% include "left-card.njk" %}
    </div>

    <!-- Right column -->
    <div class="w3-threequarter">
      {% include "header.njk" %}

      <div class="w3-container w3-card w3-white w3-margin-bottom w3-animate-opacity w3-round-large">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-motorcycle fa-fw w3-margin-right w3-margin-left w3-xxxlarge w3-text-deep-orange"></i>
          Bike
        </h2>

        <div style="display: flex; padding: 10px;">
          <a href="/assets/img/bike/harley1-min.jpg" data-lightbox="harley2" class="lnk">
            <img src="/assets/img/bike/harley1-min.jpg" width="300" style="margin-right: 20px; height: auto;" alt="Harley 1"/>
          </a>

          <p style="margin-top: -5px;">
            I've been riding motorcycles over the years for various reasons. It was mostly a daily commute for
            me back when I was living in Turkey. After a long break since I moved to the US in 2015, I
            finally decided to get back to it and get a motorcycle, this time mostly for recreation.
            <br>
            So I took some classes like <a href="https://slccmotorcycleregistration.com/returning-riders" class="lnk">the returning rider course</a>
            from community college to help remember riding. Then I bought a
            <a href="https://www.harley-davidson.com/us/en/motorcycles/fat-boy.html" class="lnk">Harley-Davidson Fat Boy 114</a>.
            It's substantially larger than my previous bikes—~700lbs (317kg) with a 114ci (1868cc) engine—so I was a bit nervous,
            but it’s been a smooth experience. I often use it to go to the gym or ride around with my wife (season permitting).
          </p>
        </div>

        <p>
          Here are some more pictures, including rides around Utah (e.g., Park City):
        </p>

        <div style="text-align: center; width: 100%;">
          <a href="/assets/img/bike/harley2-min.jpg" data-lightbox="harley2" class="lnk">
            <img src="/assets/img/bike/harley2-min.jpg" width="300" style="margin-right: 20px; height: auto;" alt="Harley 2"/>
          </a>
          <a href="/assets/img/bike/harley-jenny1-min.jpg" data-lightbox="harley2" class="lnk">
            <img src="/assets/img/bike/harley-jenny1-min.jpg" width="200" style="margin-right: 50px; height: auto; margin-bottom: 20px;" alt="Harley with Jenny 1"/>
          </a>
          <a href="/assets/img/bike/harley-jenny2-min.jpg" data-lightbox="harley2" class="lnk">
            <img src="/assets/img/bike/harley-jenny2-min.jpg" width="200" style="margin-right: 50px; height: auto; margin-top: -15px;" alt="Harley with Jenny 2"/>
          </a>
          <a href="/assets/img/bike/harley3-min.jpg" data-lightbox="harley3" class="lnk">
            <img src="/assets/img/bike/harley3-cropped.jpg" width="400" style="margin-right: 10px; height: auto; margin-bottom: 20px;" alt="Harley 3"/>
          </a>
        </div>

        <center>
          <!-- Instagram embed -->
          <blockquote class="instagram-media"
                      data-instgrm-captioned
                      data-instgrm-permalink="https://www.instagram.com/p/CuH7rjROb8n/?utm_source=ig_embed&amp;utm_campaign=loading"
                      data-instgrm-version="14"
                      style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
                             margin:1px; max-width:540px; min-width:326px; padding:0; width:99.375%;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        </center>

        <p>
          And here are some pictures of my old bikes that I used to ride back in Turkey. The one on the left is a
          Regal Raptor DD-250E-10 (“Spider 250”), a very nice-looking bike with a long fork (turns like a semi 🙂
          ). On the right is a Hyosung GV250 cruiser, which was a much better ride than the Spider in
          terms of build quality and drivetrain. My brother rode ~700–800 km (~500 miles) with that model (his own bike),
          and I did a ~1,400 km (~800 miles) trip with mine before eventually selling it when I moved to the US.
        </p>

        <div style="text-align: center;">
          <a href="/assets/img/bike/hyosung.jpg" data-lightbox="oldbikes" class="lnk">
            <img src="/assets/img/bike/hyosung.jpg" width="200" style="margin-right: 50px; height: auto; margin-bottom: 20px;" alt="Hyosung GV250"/>
          </a>
          &nbsp;
          <a href="/assets/img/bike/raptor.jpg" data-lightbox="oldbikes" class="lnk">
            <img src="/assets/img/bike/raptor.jpg" width="200" style="margin-right: 20px; height: auto;" alt="Regal Raptor Spider 250"/>
          </a>
        </div>

        <br><br>
      </div>

      <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    </div><!-- /w3-threequarter -->

  </div><!-- /w3-row-padding -->
</div><!-- /w3-content -->

