---
layout: base.njk
title: Building a Community
permalink: "content.html"
---

<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <div class="w3-row-padding">

    <!-- Left column -->
    <div class="w3-quarter">
      {% set profileImage = "/assets/img/content/profile41.jpg" %}
      {% set profileImageMin = "/assets/img/content/profile41.jpg" %}
      {% include "left-card.njk" %}
    </div>

    <!-- Right column -->
    <div class="w3-threequarter">
      {% include "header.njk" %}

      <!-- Intro -->
      <div class="w3-container w3-card caner-card w3-margin-bottom w3-animate-opacity w3-round-large">
        <div class="w3-container w3-margin-left w3-margin-top w3-margin-bottom">
          <p>In 2020 I started creating content on Twitch as a hobby, and I successfully built a growing community around: (as of 2021)</p>
          <ul class="w3-ul">
            <li><a href="http://twitch.tv/lambda_cd" class="lnk">Twitch affiliate channel</a> with 538 followers &amp; 19 subscribers.</li>
            <li><a href="http://discord.gg/eZVpkjhb" class="lnk">Discord</a> server with 224 people</li>
			<li id="ytLi">
  <a class="lnk" href="https://www.youtube.com/channel/UCQUqjj5SfL9vfJxJ53ygN7w">
    YouTube
  </a> channel with {{ yt.subscriberCount | default('…') }} subs,
  {{ yt.videoCount }} videos, {{ yt.viewCount }} total views!
</li>
          </ul>

          <p>Maybe not the greatest numbers out there, but I'm proud nonetheless :)</p>
          <p>The types of content I make include <b>teaching programming to beginners</b>, <b>StarCraft II</b> gameplay/analysis/improvement, and <b>live game development</b> for fun. Below you can find some highlights and links to my content (mostly in Turkish).</p>
        </div>
      </div>

      <!-- YouTube block -->
      <div class="w3-container w3-card caner-card w3-margin-bottom w3-animate-opacity w3-round-large">
        <br>
        <a href="https://www.youtube.com/channel/UCQUqjj5SfL9vfJxJ53ygN7w" class="lnk">
          <img src="/assets/img/content/yt_logo.png" width="20%" align="right" alt="YouTube">
        </a>

        <div class="w3-container">
          <p>Here are some of the videos on <a href="https://www.youtube.com/channel/UCQUqjj5SfL9vfJxJ53ygN7w" class="lnk">my channel</a>:</p>

          <div class="w3-row-padding">
            <div class="w3-col m3" style="width:50%">
              <p><i>In this video I'm writing the same program (binary search) in C++, Python and Racket, showing beginners that there isn’t much difference at the start. Title: <b>"Start Programming! Doesn't matter which language, start today, start now!"</b></i></p>
            </div>
            <div class="w3-col m3" style="width:50%">
              <iframe width="300" height="168" src="https://www.youtube.com/embed/UvYrdeuknIk?start=1283" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>

          <div class="w3-row-padding">
            <div class="w3-col m3" style="width:50%">
              <p><i>Introducing Object-Oriented Programming to beginners.</i></p>
            </div>
            <div class="w3-col m3" style="width:50%">
              <iframe width="300" height="168" src="https://www.youtube.com/embed/P6liuF9rz-A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>

          <div class="w3-row-padding">
            <div class="w3-col m3" style="width:50%">
              <p><i>I like casting professional StarCraft II games every once in a while :)</i></p>
            </div>
            <div class="w3-col m3" style="width:50%">
              <iframe width="300" height="168" src="https://www.youtube.com/embed/ywRTMhhYZ2k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <hr>
        </div>
      </div>

      <!-- Twitch block -->
      <div class="w3-container w3-card caner-card w3-margin-bottom w3-animate-opacity w3-round-large">
        <br>
        <a href="http://twitch.tv/lambda_cd" class="lnk">
          <img src="/assets/img/content/twitch.png" width="20%" align="right" alt="Twitch">
        </a>

        <div class="w3-container">
          <p>Here are some highlights from my broadcasts on <a href="http://twitch.tv/lambda_cd" class="lnk">my channel</a>:</p>

          <div class="w3-row-padding">
            <div class="w3-col m3" style="width:30%">
              <p><i>During live game dev, I modified a Twitch chat bot to relay keypress events from chat into my computer, so viewers could play the Unity game we were developing!<br><br>
                <a href="https://www.twitch.tv/videos/589280502?time=0h2m30s" class="lnk">[Video Link]</a> (if the player doesn't load)
              </i></p>
            </div>
            <div class="w3-col m3" style="width:70%">
              <iframe
                src="https://player.twitch.tv/?video=589280502&autoplay=false&parent=localhost&parent=dericilab.live"
                frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620">
              </iframe>
            </div>
          </div>

          <div class="w3-row-padding">
            <div class="w3-col m3" style="width:30%">
              <p><i>Following a Unity tutorial with chat to build a rolling-ball platformer.<br><br>
                <a href="https://www.twitch.tv/videos/574815461?time=0h21m48s" class="lnk">[Video Link]</a> (if the player doesn't load)
              </i></p>
            </div>
            <div class="w3-col m3" style="width:70%">
              <iframe
                src="https://player.twitch.tv/?video=574815461&time=0h21m48s&autoplay=false&parent=localhost&parent=dericilab.live"
                height="378" width="620" frameborder="0" scrolling="no" allowfullscreen="true">
              </iframe>
            </div>
          </div>

          <div class="w3-row-padding">
            <div class="w3-col m3" style="width:30%">
              <p><i>Nice moments from StarCraft: Brood War sessions :)<br><br>
                <a href="https://www.twitch.tv/videos/558868402" class="lnk">[Video Link]</a> (if the player doesn't load)
              </i></p>
            </div>
            <div class="w3-col m3" style="width:70%">
              <iframe
                src="https://player.twitch.tv/?video=558868402&autoplay=false&parent=localhost&parent=dericilab.live"
                height="378" width="620" frameborder="0" scrolling="no" allowfullscreen="true">
              </iframe>
            </div>
          </div>

          <hr>
        </div>
      </div>

      <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    </div><!-- /w3-threequarter -->

  </div><!-- /w3-row-padding -->
</div><!-- /w3-content -->

