---
layout: base.njk
title: Home
permalink: "/"
---

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-quarter">
      {% include "left-card.njk" %}
    </div>

    <!-- Right Column -->
    <div class="w3-threequarter">

      {# Page-local navigation bar (Option B) #}
      {% include "header.njk" %}

      <!-- Intro section (white card) -->
      <div class="w3-container w3-card caner-card w3-margin-bottom w3-animate-opacity w3-round-large">
        <div class="w3-container w3-margin-left w3-margin-top">
          <p>Hi!</p>

          <p>
            I'm a software engineer, PhD computer scientist, homelabber, content creator, biker,
            guitar player, husband, and dad.
          </p>

          <p>
            I specialize in compilers &amp; programming languages, and I have three years of industry
            work experience in distributed orchestration at scale.
          </p>

          <p>
            I received my doctorate at <a href="https://sice.indiana.edu/" class="lnk">IU Bloomington</a>, in computer science,
            specializing in compilers &amp; programming languages, minoring in logic at the
            <a href="http://www.philosophy.indiana.edu/areas/ll.shtml" class="lnk">Department of Philosophy</a>.
            My research investigates optimizing run-time performance of
            full‑scale production‑grade self‑hosting language implementations on tracing JIT compiler back-ends (<a href="https://github.com/cderici/dissertation/releases/download/latest-pdf/thesis.pdf" class="lnk">dissertation</a>).
          </p>

          <p>
		    I joined <a href="https://en.wikipedia.org/wiki/Canonical_(company)" class="lnk">Canonical</a> to understand and practice distributed orchestration at scale. I worked there about three years as a part of the <a href="https://github.com/juju" class="lnk">Juju</a> team.
          </p>

          <p>Check out:</p>
          <ul>
            <li>
              <a href="/cv" class="lnk">Professional</a> page,
              if you like to learn more about my professional skills, specialties, my career in general.
            </li>
            <li>
              <a href="/homelab" class="lnk">HomeLab</a> page,
              if you want to check out the cool stuff I'm doing with my data center I built at home.
            </li>
            <li>
              <a href="/content" class="lnk">Building a Community</a> page,
              if you're curious about the content I create and the community I maintain as a hobby on
              <a href="http://twitch.tv/{{ site.social.twitch }}" class="lnk">Twitch</a> and
              <a href="https://www.youtube.com/channel/{{ site.social.youtube }}" class="lnk">YouTube</a>.
            </li>
            <li>
              <a href="/bike" class="lnk">Bike</a>,
              <a href="/music" class="lnk">Music</a>,
              <a href="/artsy" class="lnk">Arts</a>,
              <a href="/travel" class="lnk">Travel</a>, and
              <a href="/arch" class="lnk">Arch</a> pages,
              if you'd like to have more information about me personally.
            </li>
          </ul>
		  <br>

		<h4>How do you say your name?</h4>
          <p>
		  I'm a US national; I have been living in US for about ten years, and this is by far the most common question that I get.
		  My wife is a native English speaker, so I understand well why it's difficult to pronounce.
            No worries, you may pronounce it however it is easiest for you. However, if you want to hear the way
            I pronounce my full name, here's a sound sample:
          </p>
		  <br>

          <audio controls>
            <source src="/assets/audio/name-pronunciation.opus" type='audio/ogg; codecs="opus"'>
            Your browser does not support the audio element with opus codec.
          </audio>
		  <br>
		  <br>

          <p>Thanks for checking out my homepage!</p>
		  <br>
		  <br>

        </div>
      </div>

      <!-- News & Posts section -->
      {% include "news.njk" %}

    </div><!-- /Right Column -->
  </div><!-- /Row -->
</div><!-- /Page Container -->
