---
layout: base.njk
title: Home
---

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-quarter">
      {% include "left-card.njk" %}
    </div>

    <!-- Right Column -->
    <div class="w3-threequarter">

      {# Page-local navigation bar (Option B) #}
      {% include "header.njk" %}

      <!-- Intro section (white card) -->
      <div class="w3-container w3-card w3-white w3-margin-bottom w3-animate-opacity w3-round-large">
        <div class="w3-container w3-margin-left w3-margin-top">
          <p>Hi!</p>

          <p>
            I'm a software engineer, Ph.D. in computer science, homelabber, content creator, biker,
            guitar player, a husband, and a dad.
          </p>

          <p>
            I specialize in compilers &amp; programming languages, and I have three years of industry
            experience in distributed systems at
            <a href="https://en.wikipedia.org/wiki/Canonical_(company)" class="lnk">Canonical</a>.
          </p>

          <p>
            I received my doctorate at <a href="https://sice.indiana.edu/" class="lnk">Indiana University</a>,
            specializing in Compilers &amp; Programming Languages, and minoring in Logic at the
            <a href="http://www.philosophy.indiana.edu/areas/ll.shtml" class="lnk">Department of Philosophy</a>.
            My research focuses on investigating and optimizing the run‑time performance characteristics of
            full‑scale production‑grade self‑hosting functional language implementations on meta‑tracing JIT compilers.
            My dissertation, titled <i>"Self‑Hosting Functional Programming Languages on Meta‑Tracing JIT Compilers"</i>
            can be found <a href="https://github.com/cderici/dissertation/releases/download/latest-pdf/thesis.pdf" class="lnk">here</a>.
          </p>

          <p>
            My experience in Canonical focused on the distributed orchestration of enterprise‑level cloud workloads.
            I was part of the <a href="https://github.com/juju" class="lnk">Juju</a> team,
            where I primarily used Golang and Python.
          </p>

          <p>Check out:</p>
          <ul>
            <li>
              <a href="/cv.html" class="lnk">Professional</a> page,
              if you like to learn more about my professional skills, specialties, my career in general.
            </li>
            <li>
              <a href="/homelab.html" class="lnk">HomeLab</a> page,
              if you want to check out the cool stuff I'm doing with my data center I built at home.
            </li>
            <li>
              <a href="/content.html" class="lnk">Building a Community</a> page,
              if you're curious about the content I create and the community I maintain as a hobby on
              <a href="http://twitch.tv/{{ site.social.twitch }}" class="lnk">Twitch</a> and
              <a href="https://www.youtube.com/channel/{{ site.social.youtube }}" class="lnk">YouTube</a>.
            </li>
            <li>
              <a href="/bike.html" class="lnk">Bike</a>,
              <a href="/music.html" class="lnk">Music</a>,
              <a href="/artsy.html" class="lnk">Arts</a>,
              <a href="/travel.html" class="lnk">Travel</a>, and
              <a href="/arch.html" class="lnk">Arch</a> pages,
              if you'd like to have more information about me personally.
            </li>
          </ul>

          <p>
            Finally, the most common question I get in the US is "How do you say your name?".
            I'm from Turkey, and I understand "Caner" is a bit tricky to pronounce for English‑speaking folks.
            No worries, you may pronounce it however it is easiest for you. However, if you want to hear the way
            I pronounce my full name, here's a sound sample:
          </p>

          <audio controls>
            <source src="/assets/audio/name-pronunciation.opus" type='audio/ogg; codecs="opus"'>
            Your browser does not support the audio element with opus codec.
          </audio>

          <p>Thanks for checking out my homepage!</p>
          <hr>
        </div>
      </div>

      <!-- News & Posts section -->
      {% include "news.njk" %}

    </div><!-- /Right Column -->
  </div><!-- /Row -->
</div><!-- /Page Container -->
