---
layout: base.njk
title: Travel
permalink: "travel.html"
---

<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-quarter">
      {% set profileImage = "/assets/img/travel/travelBig.jpg" %}
      {% set profileImageMin = "/assets/img/travel/travelBig.jpg" %}
      {% include "left-card.njk" %}
    </div>

    <!-- Right Column -->
    <div class="w3-threequarter">
      {% include "header.njk" %}

      <div class="w3-container w3-card w3-white  w3-margin-bottom w3-animate-opacity">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-map-marker fa-fw w3-margin-right w3-xxlarge w3-text-deep-orange"></i>
          Travel
        </h2>

        <p>
          Everyone loves traveling, seeing fascinating spots and historical places, beautiful
          landscapes are all great. Especially if you're traveling with someone whose company you
          enjoy, then it is absolutely priceless. Additionally, Turkey is a breathtakingly beautiful
          country with lots of historical places to visit. Further, you can find lots of strange
          geographical constructs in Turkey, all the way from far East side to Istanbul.
        </p>

        <p>
          Turkey has a lot of fascinating mountain views, especially in Northern (Blacksea) and
          Southern (Mediterranean) regions.
        </p>

        <center>
          <a href="/assets/img/travel/travel2.jpg" data-lightbox="travel" data-title="Şirince - Selçuk">
            <img src="/assets/img/travel/travel2.jpg" width="350" height="240" />
          </a>
          &nbsp;
          <a href="/assets/img/travel/travel21.jpg" data-lightbox="travel" data-title="Şirince - Selçuk">
            <img src="/assets/img/travel/travel21.jpg" width="230" height="150" />
          </a>
        </center>

        <p>
          I also loved the time when my (biker) cousin Yiğit, and I traveled around the Toros
          Mountains in the southern region. Wish we could do it again!
        </p>

        <center>
          <a href="/assets/img/travel/travel3.jpg" data-lightbox="travel" data-title="Karacaören Barajı (Isparta-Antalya arası)">
            <img src="/assets/img/travel/travel3.jpg" width="300" height="225" />
          </a>
          &nbsp;
          <a href="/assets/img/travel/travel4.jpg" data-lightbox="travel" data-title="Aksu Nehri">
            <img src="/assets/img/travel/travel4.jpg" width="225" height="300" />
          </a>
          <br>
          <a href="/assets/img/travel/travel5.jpg" data-lightbox="travel" data-title="Eğirdir Gölü - Isparta">
            <img src="/assets/img/travel/travel5.jpg" width="360" height="220" />
          </a>
          &nbsp;
          <a href="/assets/img/travel/travel13.jpg" data-lightbox="travel" data-title="Filipinlerdeyken... Şaka şaka baya beach park">
            <img src="/assets/img/travel/travel13.jpg" width="360" height="270" />
          </a>
        </center>

        <br>
        <hr>

        <p>
          April 2015, I traveled to Cairo, Egypt, to give a speech for our paper at CICLING'15
          conference. I spent one week there, and it was absolutely AMAZING!
        </p>
        <p>Here are some photos (there are total of 300~400), check out my Facebook albums for the rest of it.</p>
        <br>

        <center>
          <a href="/assets/img/travel/travel14.jpg" data-lightbox="travel" data-title="Imhotep's step pyramid">
            <img src="/assets/img/travel/travel14.jpg" width="326" height="195" />
          </a>
          &nbsp;
          <a href="/assets/img/travel/travel15.jpg" data-lightbox="travel" data-title="Sphinx and The Giza Pyramid Site">
            <img src="/assets/img/travel/travel15.jpg" width="326" height="195" />
          </a>
        </center>
        <br>
        <center>
          <a href="/assets/img/travel/travel16.jpg" data-lightbox="travel" data-title="At the Panorama Site - With my good buddy, Marcos Mourino Garcia">
            <img src="/assets/img/travel/travel16.jpg" width="326" height="195" />
          </a>
          &nbsp;
          <a href="/assets/img/travel/travel17.jpg" data-lightbox="travel" data-title="Keops Pyramid - pretty damn big!">
            <img src="/assets/img/travel/travel17.jpg" width="326" height="195" />
          </a>
        </center>
        <br>
        <center>
          <a href="/assets/img/travel/travel18.jpg" data-lightbox="travel" data-title="Nil Nehri - Nile River - where the geometry was born!">
            <img src="/assets/img/travel/travel18.jpg" width="326" height="195" />
          </a>
          &nbsp;
          <a href="/assets/img/travel/travel19.jpg" data-lightbox="travel" data-title="Photo by Marie Duží">
            <img src="/assets/img/travel/travel19.jpg" width="218" height="162" />
          </a>
        </center>

        <br>
        <hr>

        <p>Back to Turkey, here's another beautiful view from Aegean region of Turkey, Bodrum.</p>

        <center>
          <a href="/assets/img/travel/travel6.jpg" data-lightbox="travel" data-title="Bodrum Kalesi - Bodrum Castle (in the middle of the sea)">
            <img src="/assets/img/travel/travel6.jpg" width="400" height="200" />
          </a>
        </center>

        <center>
          <a href="/assets/img/travel/travel24.jpg" data-lightbox="travel" data-title="Bodrum Marina">
            <img src="/assets/img/travel/travel24.jpg" width="160" height="120" />
          </a>
          &nbsp;
          <a href="/assets/img/travel/travel25.jpg" data-lightbox="travel" data-title="Devekuşlarıyla - With Ostriches">
            <img src="/assets/img/travel/travel25.jpg" width="200" height="150" />
          </a>
        </center>

        <center>
          <a href="/assets/img/travel/travel26.jpg" data-lightbox="travel" data-title="Chillin">
            <img src="/assets/img/travel/travel26.jpg" width="200" height="150" />
          </a>
          &nbsp;
          <a href="/assets/img/travel/travel27.jpg" data-lightbox="travel" data-title="Bodrumun beyaz evleri - White houses of Bodrum">
            <img src="/assets/img/travel/travel27.jpg" width="200" height="150" />
          </a>
        </center>

        <center>
          <a href="/assets/img/travel/travel28.jpg" data-lightbox="travel" data-title="Sahilde küçük iskele - Small pier at the coast">
            <img src="/assets/img/travel/travel28.jpg" width="200" height="150" />
          </a>
        </center>

        <p>
          Speaking of the Aegean side, I'd like to show you my hometown, Izmir. Where I was born and raised till I was
          16 years old.
        </p>

        <p>
          Everyone loves their hometown, but Izmir is really something else. I'm literally in love with this city.
        </p>

        <center>
          <a href="/assets/img/travel/travel20.jpg" data-lightbox="travel" data-title="View from the hills, (the sea is at further behind the hills)">
            <img src="/assets/img/travel/travel20.jpg" width="195" height="259" />
          </a>
          &nbsp;
          <a href="/assets/img/travel/travel22.jpg" data-lightbox="travel" data-title="Bostanlı (you don't see the sea but it's 20mt right side)">
            <img src="/assets/img/travel/travel22.jpg" width="259" height="195" />
          </a>
        </center>
        <br>
        <center>
          <a href="/assets/img/travel/travel23.jpg" data-lightbox="travel" data-title="Göztepe (Bostanlı from the prev photo is right across the bay)">
            <img src="/assets/img/travel/travel23.jpg" width="259" height="195" />
          </a>
        </center>
        <br>

        <p>Here are series of shots from different travels around Turkey. Read the captions below the photos for more information.</p>
        <br>

        <center>
          <a href="/assets/img/travel/travel7.jpg" data-lightbox="travel" data-title="Gerede - Bolu">
            <img src="/assets/img/travel/travel7.jpg" width="360" height="220" />
          </a>
          &nbsp;
          <a href="/assets/img/travel/travel8.jpg" data-lightbox="travel" data-title="Amasya">
            <img src="/assets/img/travel/travel8.jpg" width="360" height="220" />
          </a>
        </center>
        <br>

        <center>
          <a href="/assets/img/travel/travel10.jpg" data-lightbox="travel" data-title="Amasya Kalesi (emekli maaşım yeni yatmış)">
            <img src="/assets/img/travel/travel10.jpg" width="280" height="220" />
          </a>
          &nbsp;
          <a href="/assets/img/travel/travel11.jpg" data-lightbox="travel" data-title="Ancient Tunnel / Alacahöyük - Çorum">
            <img src="/assets/img/travel/travel11.jpg" width="360" height="220" />
          </a>
        </center>
        <br>

        <center>
          <a href="/assets/img/travel/travel12.jpg" data-lightbox="travel" data-title="Hattuşa - Çorum">
            <img src="/assets/img/travel/travel12.jpg" width="360" height="220" />
          </a>
        </center>

      </div>

      <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    </div><!-- /w3-threequarter -->

  </div><!-- /w3-row-padding -->
</div><!-- /w3-content -->

