name: Build and Deploy

on:
  push:
    branches: [main]
  schedule:
    - cron: '0 8 * * *'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: npm ci
      - run: npm run build
      - name: Publish to cderici.github.io
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.GH_PAT }}
          publish_dir: ./_site
          external_repository: cderici/cderici.github.io
          publish_branch: main
          keep_files: false
          commit_message: "Deploy from homepage-11ty [skip ci]"

